
<header >
    <nav class="navbar navbar-expand-sm bg-light header-nav">
        <ul class="navbar-nav nav-list">
            <li class="nav-item active app-name">
              Customer Management
            </li>
        </ul>

        <ul class="navbar-nav log-count">
            <li class="cursor-pointer" (click)="onClickCount()">
                <span matBadge="{{logCount}}" matBadgeOverlap="false">count</span>
            </li>
        </ul>
        <div class="row">
         <div>
             
         </div>
        </div>
    </nav>
   
</header>
