
aside{
position: fixed;
z-index: 9999;
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    height: 100vh;
    background-color: #fff;
}

.list-unstyled{
    padding-top: 15px;
    padding-left: 15px !important;
    list-style: none !important;
}

#sidebar ul li a {
    padding: 12px 24px;
    letter-spacing: .025em;
    font-weight: 400;
    display: block;
    color: #423535;
}
#sidebar ul li a:hover {
    color: #23b7e5;
    text-decoration: none;
}

